<style type="text/css" media="all">
  .logo{
    position: relative;
    top:10px;
    width:20px;
    margin:0em;
  }
 .nav{
    margin:0;
    padding: 0px;
    background-color: #dddddd;
  }
  .navbar{
    margin: 20px;
    display:inline;
    float: right;
  }
  .navbar a{
    text-decoration: none;
    font-size: 15px;

    
  }
  h1{
    text-align: center;
    margin:20px auto;
    font-size: 70px;
  }
  h2{
    text-align: center;
  }
  #brand{
    float:left;
    text-decoration: none;
    color:#4f3e3e;
    font-weight:100px;
    font-size: 20px;
    padding: 0em;
  }
</style>
<body>
  <nav class="nav">
    <a href="home" id="brand">Cryptic<img class="logo" src="assets/logo.png" alt="logo" />Cloud</a>
    <div class="navbar">
      <a href="login">Access Cloud</a>
      <a href="register">Developer</a>
    </div>
  </nav>
  <div class="container">
    <h1> Cryptic Cloud</h1>
    <h2>Your privacy is our priority</h2>
  </div>
</body>